.artistBlock {
    border: 1px solid transparent;
    padding: 2vh 2vw 2vh 2vw;
    background-color: #272727;
    border-radius: 5px;
}

.artistBlock h1 {
    color: #fff;
}

.artistBlock p {
    color: #fff;
}

.artistBlock img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}  